ul {
    list-style: none;
}
.listClass > li {
    display: inline;
    margin-right: 100px;
}
#text {
    width: 300px;
}
#data{
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    width: auto;
}
